name: Build Android APK
on: [push]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      
      - uses: subosito/flutter-action@v2
        with:
          channel: 'stable'
          # Указываем версию, которую просит система, чтобы не ждать лишней переустановки
          flutter-version: '3.19.0' 
          
      - name: Install Dependencies
        run: |
          python3 -m pip install --upgrade pip
          pip install flet
          
      - name: Build APK
        # Добавляем --yes, чтобы робот сам соглашался на всё
        run: flet build apk --yes
        
      - name: Upload APK
        uses: actions/upload-artifact@v4
        with:
          name: darkgram-app
          path: build/apk/*.apk
